body{
	min-width: 1280px;
}
*{
	margin:0;
	padding: 0;
}

.all{
	position: relative;
	min-width: 1280px;
}
/*导航栏*/
nav{
	float: right;
	height: 54px;
	width: 100%;
	background-color: #2289bf;
}
nav .logo{
	position: relative;
	left: 50px;
	top:10px;
	margin:0;
	padding: 0;
}
nav .search{
	padding-right: 0px;
	height: 30px;
	position: relative;
	left:760px;
	top:3px;
	height: 20px;
}
nav input{
	position: relative;
	border-radius: 20px;
	left: 1000px;
	height:26px;
	width: 250px;
	top: -5px;
}
nav div{
	float: relative;
	height: 50px;
	line-height: 50px;
	margin-right: 90px;
}
nav div img{
	vertical-align: middle;
}
.logo-r{
	position: relative;
	height: 20px;
	left: 1330px;
	top:-44px;
	
}
nav div p{
	position: relative;
	font-size: 14px;
	color: #fff;
	left: 1355px;
	top:-91px;
	z-index:1;

}

/*second part*/
.second{
	position: absolute;
	top:54px;
	width: 250px;
	height: 1200px;
	background-color:rgb(42, 46, 61);
	color:#bababe;
}

.second1 img{
	position: relative;
	top:30px;
	left: 25px;
}
.second1 .a{
	position: relative;
	top:-25px;
	left: 130px;
}
.second1 .b{
	position: relative;
	top:20px;
	left: 30px;
}
.second1 .c{
	position: relative;
	top:0px;
	left: 130px;
}
.second1 a{
	position: relative;
	left: -35px;
	top:25px;
}
.second1 p:hover{
	font-weight: bold;
}
.file{
	position: relative;
	top:50px;
	background-color: rgb(65, 70, 84);
}
.file >img:first-child{
	position: relative;
	top:10px;
	left: 020px;
}
.file ul li{
	position: relative;
	left: 25px;
	list-style-type:none;
	line-height: 30px;
}
.file ul li a{
	font-size: 12px;
}
.file ul li a:hover{
	font-weight: bold;
}
.file p{
	position: relative;
	left:45px;
	top:-10px;
	font-size: 14px;
}
.file ul li img{
	position: relative;
	top:3px;
	left: 0;
}
.file2{
	position: relative;
	top:40px;
	padding-top: 20px;
}
.file2 ul li{
	position: relative;
	padding-left: 20px;
	list-style-type:none;
	line-height: 30px;
	font-size: 15px;
} 
.file2 ul li img{
	position: relative;
}
.file2 ul li:hover{
	background-color: rgb(65, 70, 84);
}
/*second part*/
/*three part*/
.three{
	float: right;
	background-color: #eeeeed;
	/*width: calc( 100% - 250px);*/
	width: 1280px;
	height: 1200px;
}
.czhan{
	position: absolute;
	height: 35px;
	left: 250px;
	width:calc( 100% - 250px);
	background-color: #fff;
	font-size: 15px;
}
.czhan a{
	position: absolute;
	top:5px;
	margin-left:50px;
}

.part1{
	position: absolute;
	left: 350px;
	top:120px;
	/*width:calc(100% - 250px);*/
	width: 920px;
	height: 84px;
	border: 1px solid #ccc;
	background-color: #fff;
	color:#ccc;
	font-size: 15px;
}
.part1 div:nth-child(1) select{
	position: relative;
	top:10px;
	left: 40px;
	height: 25px;
}
.part1 div:nth-child(1) label{
	position: relative;
	top:10px;
	left:30px;
}
.part1 div:nth-child(2) select{
	position: relative;
	top:-20px;
	left: 200px;
	height: 29px;
}
.part1 div:nth-child(2) label{
	position: relative;
	top:-20px;
	left:200px;
}
.part1 div:nth-child(3) select{
	position: relative;
	top:-15px;
	left: 200px;
	height: 29px;
	width: 135px;
}
.part1 div:nth-child(3) label{
	position: relative;
	top:-15px;
	left:200px;
}
.part1 img{
	position: relative;
	top:-65px;
	left: 370px;
}

.part1 div:nth-child(5) input{
	position: relative;
	top:-123px;
	left: 430px;
	height: 29px;
	width: 135px;
}
.part1 div:nth-child(5) label{
	position: relative;
	top:-123px;
	left:430px;
}
.part1 div:nth-child(6) select{
	position: relative;
	top:-118px;
	left:430px;
	height: 29px;
	width: 90px;
}
.part1 div:nth-child(6) label{
	position: relative;
	top:-118px;
	left:430px;
}
.part1 div:nth-child(7) select{
	position: relative;
	top:-185px;
	left:620px;
	height: 29px;
	width: 70px;
}
.part1 div:nth-child(7) label{
	position: relative;
	top:-185px;
	left:620px;
}
.part1 div:nth-child(8) select{
	position: relative;
	top:-180px;
	left:600px;
	height: 29px;
	width: 90px;
}
.part1 div:nth-child(8) label{
	position: relative;
	top:-180px;
	left:600px;
}
.part1 div:nth-child(9) input{
	position: relative;
	top:-225px;
	left:790px;
	background-color: #388bc2;
	padding: 7px 15px;
	border-radius: 15%;
	color:#fff;
}

.mon{
	position: absolute;
	left: 350px;
	top:220px;
	height: 75px;
	/*width:calc(100% - 250px);*/
	/*border: 3px solid #000;*/
	width:920px;
}

.mon div{
	float:left;
	width:110px;
	height: 63px;
	border: 1px solid #ccc;
	background-color: #fff;
	color:#b7b7b7;
	font-size: 15px;
	margin:3px;
	/*text-align: center;*/
}
.mon .left{
	width:29px;
	height: 63px;
}
.mon .left a{
	line-height: 63px;
    color: #b7b7b7;
    padding-left: 6px;
}
.mon .right{
	width:29px;
	height: 63px;
}
.mon .right a{
	line-height: 63px;
    color: #b7b7b7;
    padding-left: 6px;
}
.mon a{
	text-align: center;
}
.mon div:hover{
	border-top: 3px solid #2289bf;
 }
 
.mon div a p:nth-child(1) {
	font-size: 14px;
	color:#000;
	padding-top: 5px;
}
.mon div a p:nth-child(2) {
	font-size: 25px;
	color: #ec6602;
}
.mon .hisreas{
	width: 130px;
}
.mon .hisreas img{
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 5px;
}
.mon .hisreas a{
	position: relative;
	top:-10px;
	color:#000;
	font-size: 14px;
}
.stati{
	position: absolute;
	left: 350px;
	top:300px;
	/*width:calc(100% - 250px);*/
	width:920px;
	/*border: 1px solid #000;*/

}
.stati p:nth-child(1){
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}
.stati div{
	float:left;
	width:200px;
	height: 69px;
	border: 1px solid #ccc;
	background-color: #fff;
	color:#b7b7b7;
	font-size: 15px;
	margin-right:25px;
}
.stati div .color{
	position: relative;
	top:-45px;
	left: 120px;
	width: 60px;
	height: 45px;
	/*border: 3px solid #000;*/
}

.stati div p{
	position: relative;
	top:7px;
	left: 30px;
	line-height: 25px;
}

.stati div p:nth-child(1){
	color:#000;
}

.stati .b1{
	border-left: 3px solid #44b29e;
}
.stati .b1:hover{
	border:3px solid #44b29e;
}
.stati div .c1{
	background-color: #44b29e;
}

.stati .b2{
	border-left: 3px solid #398bc2;
}
.stati .b2:hover{
	border:3px solid #398bc2;
}
.stati div .c2{
	background-color: #398bc2;
}

.stati .b3{
	border-left: 3px solid #cf4a36;
}
.stati .b3:hover{
	border:3px solid #cf4a36;
}
.stati div .c3{
	background-color: #cf4a36;
}

.stati .b4{
	border-left: 3px solid #e2cd47;
}
.stati .b4:hover{
	border:3px solid #e2cd47;
}
.stati div .c4{
	background-color: #e2cd47;
}
/*菜单栏*/

.first{
	position: absolute;
	top:420px;
	left: 350px;
	width: 530px;
/*	height: 355px;*/
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#fff;
}
.first1{
	/*width: 530px;
	border:1px solid #999;
	overflow:hidden;*/
	width: 530px;
	height: 35px;
	background-color: #f4f6f7;
	border-radius:10px 10px 0px 0px;
	overflow: hidden;
	border-bottom: 1px solid #e7e9eb;
}
.first1 p{
	position: absolute;
	left: 35px;
	top:9px;
	font-size: 14px;
	color:#aaaaaa;
}
h2{
	font-size: 100%;
	text-decoration: none;
	color:inherit;
	margin-right:10px; 
}
ul{
	margin:0;
	padding:0;
	list-style: none;
}
.box{
	overflow:hidden;
}
.box1{
	margin:15px;
	border:1px solid #fff;
}
.nav{
	margin-left: -1px;
	font:14px "微软雅黑";
	overflow: hidden;
	background-color: #f1f1f1;
	border-bottom: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-radius:5px 5px 10px 10px;
}
.navI{
	position: relative;
	float:left;
	width:20%;
	box-sizing: border-box;
}
.navI-tit{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	height: 40px;
	box-sizing: border-box;
	line-height: 40px;
	text-align: center;
	cursor:pointer;
	border: 1px solid #cecece;
	border-radius:5px 5px 0px 0px;
}
.navI-txt{
	width:500px;
	height: 171px;
	margin-top:40px;
	line-height: 25px;
	padding: 30px;
	background:#fff;
	text-align: center;
}
.navI-txt tr td{
	border: 1px solid #000;
	padding: 5px;
	font-size: 12px;
}
.m11{
	margin-left: -100%;
}
.m12{
	margin-left: -200%;
}
.m13{
	margin-left: -300%;
}
.m14{
	margin-left: -400%;
}
.navI_active{
	z-index:1;
}
/*重点代码*/
.navI:hover{
	position:relative;
	z-index:1;
}
.navI:hover{
	background:#fff;
	border:none;
}

/*菜单栏*/

/*项目负责人*/
.itemsecond{
	position: absolute;
	left:890px;
	top:420px;
	width: 350px;
	height: 355px;
	border:1px solid #ccc;
	border-radius:10px;
	background-color: #fff;
}

.itemsecondtitle{
	width: 350px;
	height: 35px;
	background-color: #f4f6f7;
	border-radius:10px 10px 0px 0px;
	overflow: hidden;
	border-bottom: 1px solid #e7e9eb;
}

.itemsecondtitle p{
	position: absolute;
	left: 30px;
	top:4px;
	font-size: 14px;
	color:#aaaaaa;
}
.itemsecondtable{
	width: 290px;
}
.itemsecondtable td{
	padding-bottom:1px;
	border-bottom: 1px solid #e7e9eb;
}
.itemsecondbody{
	padding: 20px;


}
.itemsecond span{
	font-size: 14px;
	color:#aaaaaa;
}
.itemsecond p{
	font-size: 14px;
	padding: 5px;
}

.itemsecondtable:last-child tr{
	padding-top: 20px;
	padding-bottom: 20px;
}

.search-ku{
	position: absolute;
	left: 250px;
	top:295px;
	width: 58px;
	height: 28px;
	font-size: 14px;
	background-color: #388bc2;
	color:#fff;
	text-align: center;
	line-height: 28px;
	border-radius: 5px;
	cursor:pointer;
}

.itemsecondtr{
	padding-top:35px;
}
.itemsecondtr p{
	padding-bottom:40px;
}
.itemsecondtr1{
	width: 120px;
	border-right:1px solid #e7e9eb;
}

.itemsecond input{
	position: relative;
	top:5px;
}
.itemsecondspan{
	position: relative;
	top:4px;
	font-size: 12px;
}

/*项目负责人*/
/*日历*/
.calendar{
	position: absolute;
	left: 350px;
	top:790px;
	width: 350px;
	height: 355px;
	border:1px solid #ccc;
	border-radius:5px;
	text-align: center;
	background-color: #fff;
}

.calendartitle{
	width: 350px;
	height: 35px;
	background-color: #f4f6f7;
	border-radius:10px 10px 0px 0px;
	overflow: hidden;
	border-bottom: 1px solid #e7e9eb;
}
.calendartitle p{
	position: absolute;
	left: 20px;
	top:5px;
	color:#999;
}

.calendar1{
	position: absolute;
	padding: 10px;
}
.calendar2{
	padding-bottom: 10px;
}
.calendar2 select{
	margin-left: 10px;
	padding: 2px;
	height: 24px;
	vertical-align: middle;
	border: 1px solid #ccc;
}
.calendar2 input{
	margin-left: 10px;
	height: 24px;
	width: 40px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.calendar3{
	position: relative;
	border-top: 2px solid #a9cfec;
	font-size: 12px;
}

.calendar3 .calendar4 td{
	height: 30px;
	border-bottom: 1px solid #e1e1e1;
}
.calendar3 td{
	width: 65px;
	height: 45px;
}
.calendar3 td:nth-child(6){
	color:red;
}
.calendar3 td:nth-child(7){
	color:red;
}
.calendar3 td:hover{
	border: 1px solid #e1e1e1;
}
/*日历*/
/*品牌*/
.pingpai{
	position: absolute;
	left:710px;
	top:790px;
	width: 530px;
	height: 355px;
	border:1px solid #ccc;
	border-radius:5px;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
}

.pingpaititle p{
	position: absolute;
	left: 20px;
	top:5px;
	color:#999;
}
.pingpaititle{
	width: 530px;
	height: 35px;
	background-color: #f4f6f7;
	border-radius:10px 10px 0px 0px;
	overflow: hidden;
	border-bottom: 1px solid #e7e9eb;
}

.pingpai1{
	margin: 30px;

}
.pingpai1 tr:hover{
	background-color:#f4f6f7;
}
.pingpai1 td{
	border: 1px solid #999;
	height: 21px;
}
.pingpai1 td:nth-child(1){
	width: 62px;
}
.pingpai1 td:nth-child(2){
	width: 92px;
}
.pingpai1 td:nth-child(3){
	padding-left:15px; 
	text-align: left;
	width: 288px;

}
.pingpai1 tr:nth-child(1) td{
	text-align: center;

}
.pingpai1 span:nth-child(2){
	position: relative;
	top:-4px;
	width: 168px;
	height: 4px;
	display: inline-block;
	background-color: #dcdcdc;

}
.pingpai1 span:nth-child(1){
	position: absolute;
	width: 50px;
	height: 4px;
	display: inline-block;
	background-color: blue;
}
.pingpai1 span .bar1{
	background-color: pink;
}

.pingpai1 span .bar2{
	width: 70px;
	background-color: yellow;
}
.pingpai1 span .bar3{
	width: 90px;
	background-color: #CCFF66;
}
.pingpai1 span .bar4{
	width: 100px;
	background-color: #993366;
}
.pingpai1 span .bar5{
	width: 110px;
	background-color: yellow;
}
.pingpai1 span .bar6{
	width: 120px;
	background-color: #330066;
}
.pingpai1 span .bar7{
	width: 70px;
	background-color: #99FFCC;
}
.pingpai1 span .bar8{
	width: 130px;
	background-color: #99FFFF;
}
.pingpai1 span .bar9{
	width: 140px;
	background-color: #99FF99;
}
.pingpai1 span .bar10{
	width: 150px;
	background-color: yellow;
}
/*品牌*/