*{
	font-family:"宋体";
	font-size: 20px;
}

#qk{
	position: absolute;
	padding: 20px;
	margin:20px;
	height: 70%;
	border:1px solid #000;
	background-color: #eee; 
}
/*#qk .tdmc .tdkswz .grkj{
	background: #ffffff;
	padding: 20px;
}*/
/*团队名称*/
#qk .tdmc {
	/*position: absolute;
	background-color: #ffffff;*/
	float: left;
	padding: 20px;
	margin:20px;
	width: 200px;
	height: 120px;
	border:1px solid #000;
	background-color: #ffffff
}

#qk .tdmc img{
	border:1px solid #000;
	margin: 20px;
	height: 80px;
	width: 80px;
}
/*团队名称*/
/*团队介绍*/
#qk .tdkswz{
	position: absolute;
	left:300px;
	margin:20px;
	height: 500px;
	width: 600px;
	border:1px solid #000;
	background-color: #ffffff

}

#qk .tdkswz p{
	height: 15px;
	line-height: 23px;
	padding: 20px;
}
/*团队介绍*/
/*logo*/
/*#qk .grkj> div{
	float: left;
	width:120px;
	height: 400px;
	border:1px solid #000;
}*/
#qk div img{
	float: left;
	height: 80px;
	width: 80px;
	margin:20px 20px 0px 20px;
}
/*logo*/